@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: #0f0f0f;
    padding: 0;
    margin: 0;
}

header {
    color: white;
    display: flex;
    padding: 10px;
}

.movie-link {
    text-decoration: none;
}

.movie-link:hover {
    text-decoration: underline;
    color: white;
}

.content-wrapper {
    min-height: 100vh;
}

/*SEARCH BAR STYLING*/
.search-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background: #2f3640;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
}

    .search-box:hover > .search-txt {
        width: 200px;
    }

    .search-box:hover > .search-btn {
        background: white;
    }

    .search-box:focus-within > .search-txt {
        width: 200px;
    }

.search-btn {
    color: rgb(68, 10, 37);
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
}


/*TOP MOVIE STYLING*/
.top-movie-title {
    margin-top: 90px;
    margin-bottom: 0;
    color: white;
}

.top-movie {
    width: 75%;
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.top-movie img, .movie-list li img {
    width: 100%;
}

.top-movie .info, .movie-list li .info {
    color: rgba(68, 10, 37, 0);
    background: rgba(75, 6, 27, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.35s;
}

.top-movie:hover .info, .movie-list li:hover .info, .top-movie:active .info, .movie-list li:active .info {
    color: rgba(255, 255, 255, 1);
    background: rgba(75, 6, 27, 0.8);
}

.top-movie .info .info-text {
    margin: 0;
    margin-top: 40%;
    font-size: 28px;
}

.movie-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 20px;
    margin: auto;
    max-width: 1200px;
}

.movie-list li .info .info-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.movie-list li .info .info-text * {
    padding: 0 5px;
}

.movie-list li {
    font-size: 12px;
    flex-basis: 30%;
    max-width: calc(30% - 14px);
    margin: 7px;
    flex-grow: 1;
    position: relative;
}

footer {
    color: #fff;
    background: black;
    width: 100%;
    text-align: center;
    overflow: hidden;
    bottom: 0;
    padding: 10px;
    opacity: 0.7;
}

ul.social li {
    display: inline;
    padding: 7px;
}

/*ACCORDION STYLING*/
h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
}

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.accordion-item {
    background-color: white;
    color: black;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.accordion-item-header {
    padding: 0.5rem 4rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

    .accordion-item-header::after {
        content: "\002B";
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        transition: transform 0.2s ease-in-out;
    }

    .accordion-item-header.active::after {
        content: "\2212";
    }

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
/*    border-image:linear-gradient(to right #008f68, #fae042) 1;*/
}


/*MEDIA QUERIES*/
@media only screen and (min-width: 768px) {
    .search-box:hover > .search-txt {
        width: 240px;
        padding: 0 6px;
    }

    .search-box {
        height: 40px;
        border-radius: 40px;
        padding: 10px;
    }

    .search-btn {
        width: 40px;
        height: 40px;
    }

    .search-box:focus-within > .search-txt {
        width: 240px;
    }

    .search-txt {
        line-height: 40px;
    }

    .top-movie {
        width: 40%;
        height: 40%;
    }

    .movie-list {
        width: 50%;
        height: 70%;
    }
}
