.search-item img {
    width: 150px;
    padding: 2%;
    margin-right: 10px;
}

.search-item {
    border: 3px solid rgb(68, 10, 37);
    display: flex;
}

.search-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.search-item .mov-info {
    text-align: left;
    margin-right: 10px;
    width: 50vw;
}

.search-list li {
    margin: 10px;
}

    .search-list li a {
        text-decoration: none;
        color: white;
    }

    .search-list li:first-child {
        margin-top: 50px;
    }

    .search-list li:last-child {
        margin-bottom: 50px;
    }

.search-item:hover {
    Background: rgb(68, 10, 37);
}

.mov-info p {
    font-size: 12px;
}

.mov-info h1 {
    font-size: 16px;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 768px) {
    .mov-info p {
        font-size: 14px;
    }

    .mov-info h1 {
        font-size: 18px;
    }
}
