@model ProjMovie.Models.DTO.MovieDTO

<!DOCTYPE html>
<html lang="en">
<head>
    <title>CMDB movieProject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/detail.css">
    <script src="~/js/main.js"></script>
</head>
<body>
    <header>
        <h1>CMDb</h1>
    </header>
    <h2 class="detail-movie-title">@Model.Title</h2>
    <div class="single-movie">
        <img src="@Model.Poster" alt="Movie">
    </div>
    <div class="rate">
        <img id="like-logo" src="/Images/likeBW.jpg" alt="like" onclick="changeLikeImage()">
        <img id="dislike-logo" src="/Images/dislikeBW.jpg" alt="like" onclick="changeDislikeImage()">
        @*<img class="hover-img" src="/Images/likeColorOutline.jpg" alt="like">*@
    </div>
    @*<ul class="rate">
            <li>
                <a href="#">
                    <img id="logo" src="/Images/likeBW.jpg" alt="like" onclick="changeImage()">
                    <img class="logo" src="/Images/likeBW.jpg" alt="like">
                    <img class="hover-img" src="/Images/likeColorOutline.jpg" alt="like">
                    <img class="active-img" src="/Images/likeColor.jpg" alt="like">
                    <img class="clicked-img" src="/Images/likeGray.jpg" alt="like">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="logo" src="/Images/dislikeBW.jpg" alt="dislike">
                    <img class="hover-img" src="/Images/dislikeColorOutline.jpg" alt="dislike">
                    <img class="active-img" src="/Images/dislikeColor.jpg" alt="dislike">
                    <img class="clicked-img" src="/Images/dislikeGray.jpg" alt="dislike">
                </a>
            </li>
        </ul>*@
    <div class="flex-container">
        <div class="movie-info-column1">
            <div class="single-movie-info">
                <p><b>Year:</b> 2020</p>
            </div>
            <div class="single-movie-info">
                <p><b>Genre:</b> Action</p>
            </div>
        </div>
        <div class="movie-info-column2">
            <div class="single-movie-info">
                <p><b>Runtime:</b> 1hr 50 mins</p>
            </div>
            <div class="single-movie-info">
                <p><b>Language:</b> English</p>
            </div>
        </div>
    </div>
    <div class="accordion">
        <div class="accordion-item">
            <div class="accordion-item-header">
                Plot
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, labore accusantium? Atque, quam. Magni culpa ab nostrum ex corporis, quo odio officia facere cum fugit molestias cumque adipisci consectetur ut?
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-item-header">
                Cast and Crew
            </div>
            <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, labore accusantium? Atque, quam. Magni culpa ab nostrum ex corporis, quo odio officia facere cum fugit molestias cumque adipisci consectetur ut?
                </div>
            </div>
        </div>
    </div>
    <script>
        function changeLikeImage() {
            var likeImage = document.getElementById('like-logo');
            var dislikeImage = document.getElementById('dislike-logo');
            if (likeImage.src.match("/Images/likeBW.jpg")) {
                likeImage.src = "/Images/likeColor.jpg"
                dislikeImage.src = "/Images/dislikeGray.jpg"
            }
            else {
                image.src = "/Images/likeBW.jpg"
            }
        };

        function changeDislikeImage() {
            var likeImage = document.getElementById('like-logo');
            var dislikeImage = document.getElementById('dislike-logo');
            if (dislikeImage.src.match("/Images/dislikeBW.jpg")) {
                likeImage.src = "/Images/likeGray.jpg"
                dislikeImage.src = "/Images/dislikeColor.jpg"
            }
            else {
                image.src = "/Images/dislikeBW.jpg"
            }
        };

        const accordionItemHeaders = document.querySelectorAll(".accordion-item-header");

        accordionItemHeaders.forEach(accordionItemHeader => {
            accordionItemHeader.addEventListener("click", event => {
                accordionItemHeader.classList.toggle("active");
                const accordionItemBody = accordionItemHeader.nextElementSibling;
                if (accordionItemHeader.classList.contains("active")) {
                    accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
                }
                else {
                    accordionItemBody.style.maxHeight = 0;
                }
            });
        });
    </script>
</body>
</html>