@model ProjMovie.Models.DTO.MovieDTO

<!DOCTYPE html>
<html lang="en">
<head>
	<title>CMDB movieProject</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/main.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
	<header>
		<h1>CMDb</h1>
	</header>

	<div class="search-box">
		<input class="search-txt" type="text" placeholder="Search">
		<a class="search-btn" href="#">
			<i class="fas fa-search"></i>
		</a>
	</div>
	<a href="/Detail/Index" class="movie-link">
		<h1 class="top-movie-title">@Model.Title</h1>
	</a>
		<div class="top-movie">
            <a href="/Detail/Index" class="movie-link">
				<img src="@Model.Poster" alt="Top Movie">
				<div class="info">
					<div class="info-text">
						<h2>@Model.Title</h2>
						<p>@Model.Plot</p>
					</div>
				</div>
			</a>
		</div>
	<ul class="movie-list">
		<li>
            <a href="Detail/Index">
				<img src="/Images/poster.jpg" alt="poster">
				<div class="info">
					<div class="info-text">
						<h2>Movie Title</h2>
						<p>more info bla bla</p>
					</div>
				</div>
			</a>
		</li>
		<li>
            <a href="Detail/Index">
                <img src="/Images/poster.jpg" alt="poster">
                <div class="info">
                    <div class="info-text">
                        <h2>Movie Title</h2>
                        <p>more info bla bla</p>
                    </div>
                </div>
            </a>
		</li>
        <li>
            <a href="Detail/Index">
				<img src="/Images/poster.jpg" alt="poster">
				<div class="info">
					<div class="info-text">
						<h2>Movie Title</h2>
						<p>more info bla bla</p>
					</div>
				</div>
            </a>
        </li>

	</ul>

</body>
</html>